.custom-shape-divider-bottom-1747758277 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1747758277 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 283px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1747758277 .shape-fill {
    fill: #FFFFFF;
}
.logo{
text-shadow: #ffffff 0 1px 0, #ffffff 0 2px 0, #ffffff  0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,  rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
}